.header{
    min-height: 10vh;
    width: 100%;
    background: #000;
    color: #fff;
    position:relative;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

.tab_ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.tab_ul ul li label {
    position: relative;
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    min-width: 100px;
    background: #e6e6e6;
    border-radius: 8px 8px 0 0;
}
